{% extends 'blog/base.html' %}

{% block content %}
<h1 class="text-center">Log In Page</h1>
<form id="user-login" class="form-horizontal" method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
    {{ form.username.errors }}
  </div>
  {% endif %}
  <div class="form-group">
    <label for="{{ form.email.id_for_label }}" class="col-md-3 control-label">E-mail Address</label>
    <div class="col-md-9">
      {{ form.username }}
    </div>
  </div>
  <div class="form-group">
    <label for="{{ form.password.id_for_label }}" class="col-md-3 control-label">Password</label>
    <div class="col-md-9">
      {{ form.password }}
    </div>
  </div>
  <div class="form-group">
    <label for="submit" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <button id="submit" type="submit" class="btn btn-primary btn-block">Log In</button>
    </div>
  </div>
</form>
{% endblock %}
