{% load staticfiles %}
<html>

<head>
    <title>Hawk Club - Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet" />
</head>

<body>
    <div class="page-header">
        <h1 class="text-center"><a href="/">Friendship Hawkey Club</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
