{% load staticfiles %}
<html>

<head>
    <title>Hawk Club - Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet" />
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
</head>

<body>
    <div class="page-header">
        <h1 class="text-center"><a href="{% url 'post_list' %}">Friendship Hawkey Club</a></h1>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'post_list' %}">Home</a>
            <a class="navbar-brand" href="{% url 'calendar_today' %}">Calendar</a>
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'dashboard_view' %}">My Dashboard</a>
            <a class="navbar-brand" href="{% url 'logout' %}">Log Out</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'register' %}">Register</a>
            <a class="navbar-brand" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
            <div class="col-md-4">
                {% if user.is_authenticated %}
                <h6>Hello {{ user.get_short_name }}</h6>
                {% endif %}
                {% include "game_calendar/event_list.html" %}
            </div>
        </div>
    </div>
</body>

</html>
