{% extends 'blog/base.html' %}
{% block content %}
<div class="post">
  <div class="date">
    <p>published: {{ post.published_date }} by {{ post.author.get_full_name }}</p>
  </div>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
<div class="bg-danger">
  <form method="POST" class="post-form">
    {% csrf_token %}
    <p>
      Type 'delete' into the box below to confirm removal of this post.
    </p>
      {{ form.as_p }}
    <button type="submit" class="btn btn-danger btn-block">Delete Post</button>
  </form>
</div>
{% endblock %}
