{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <div>
        {% if user.is_authenticated and user == post.author or user.is_superuser %}
            <a href="{% url 'post_edit' pk=post.pk%}"><button type="submit" class="btn btn-primary btn-block">Edit Blog Post</button></a>
        {% endif %}
    </div>
    <br />
    <div>
        {% if post.published_date == None %}
            <form class="post-form" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">Publish Post</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
