{% extends 'blog/base.html' %}
{% load game_calendar_tags %}
{% block content %}
<div class="calendar">
  {% event_calendar year month events_list %}
  <div class="calendar_controls text-center">
    <a href="{% url 'calendar' month=previous_month year=previous_year %}">
      <button type="button" class="btn btn-default">&lt;&lt; {{ previous_month_name }}</button>
    </a>
    <a href="{% url 'calendar' month=next_month year=next_year %}">
      <button type="button" class="btn btn-default">{{ next_month_name }} &gt;&gt;</button>
    </a>
  </div>
</div>
  {% block event_detail %}
  {% endblock %}

{% endblock %}
