{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript">
      var event_data = {{ json_event|safe }};
      var venues_data = {{ json_venues|safe }};
</script>
<script src="{% static 'js/googlemap.js' %}"></script>
    <div class="event_detail">
            <div class="event_date">
                {{ event.date_and_time }}
            </div>
        <h1>{{ event.title }}</h1>
        <p>{{ event.description|linebreaksbr }}</p>
        <p>{{ event.comments|linebreaksbr }}</p>
        <p>{{ event.venue.name }}</p>
        <p>{{ event.venue.full_address }}</p>
    </div>
    <div id="map_container">
    </div>
    <script async defer
        src="http://maps.google.com/maps/api/js?key=AIzaSyDlFVWD7CVtS_Sy6LeKkeKhaabRX6AfJV0&signed_in=true&callback=initializeMap">
    </script>
    {% if event.guests %}
    <div>
        {% if event.guests_attending %}
        <h3>Attending</h3>
        <ul>
            {% for guest in event.guests_attending %}
            <li>
                {{ guest.user.get_full_name }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if event.guests_maybe_attending %}
        <h3>Maybe</h3>
        <ul>
            {% for guest in event.guests_maybe_attending %}
            <li>
                {{ guest.user.get_full_name }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if event.guests_not_attending %}
        <h3>Not Attending</h3>
        <ul>
            {% for guest in event.guests_not_attending %}
            <li>
                {{ guest.user.get_full_name }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if event.guests_no_rsvp %}
        <h3>Not Answered</h3>
        <ul>
            {% for guest in event.guests_no_rsvp %}
            <li>
                {{ guest.user.get_full_name }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if user.is_authenticated and user == event.author or user.is_superuser %}
        <div class="control-buttons button-links">
          <a href="{% url 'event_edit' pk=event.pk%}"><button type="submit" class="btn btn-primary btn-block">Edit Event</button></a>
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
