.today {
  background-color: rgb(255, 224, 156);
}

.noday {
  background-color: rgb(245, 245, 245);
}

.filled {
  background-color: rgb(227, 189, 168);
}

.calendar {
  margin-bottom: 25px;
}

.calendar table, td {
  height: 14%;
}

.calendar table th {
  height: 20px;
}

.table .monthname {
  font-size: 2.5em;
  vertical-align: middle;
  min-height: 75px;
}

.calendar ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.calendar table {
  table-layout: fixed;
  min-height: 650px;
  height: auto;
}

.calendar_controls a:hover {
  text-decoration: none;
}

#map_container {
  height: 40%;
}

/* DOING:10 make Calendar table look nice */
